#content {
    width: 900px;
    margin: auto;
}

body {
    font-family: Helvetica;
    font-weight: 100;
}

.box-a {
    width: 66.666%;
    height: 600px;
    background-color: antiquewhite;
    overflow: hidden;
    position: relative;
}

.box-a img {
    height: 100%;
    width: auto;
    display: block;
}

.breed {
    position: absolute;
    font-size: 36px;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.65);
    bottom: 2em;
}

.box:nth-child(2n+1) .breed {
    right: 0;
}

.box:nth-child(2n) .breed {
    left: 0;
}

.box-b, .box-c {
    position: relative;
    width: 33.333%;
    height: 300px;
}

.box-b p, .box-c h1 {
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box:nth-child(2n) .box-a, 
.box:nth-child(2n) .box-b, 
.box:nth-child(2n) .box-c
{
    float: left;
}

.box:nth-child(2n+1) .box-a,
.box:nth-child(2n+1) .box-b, 
.box:nth-child(2n+1) .box-c {
    float: right;
}





.box-b {
    background-color: aqua;
}

.box-c {
    background-color: bisque;
}





.header {
    text-align: center;
}