#content {
    width: 900px;
    margin: auto;
}

.box-a {
    width: 66.666%;
    height: 600px;
    float: left;
    background-color: antiquewhite;
}

.box-a img {
    height: 100%;
    width: auto;
    display: block;
}

.box-b, .box-c {
    width: 33.333%;
    height: 300px;
    float: left;
}

.box-b {
    background-color: aqua;
}

.box-c {
    background-color: bisque;
}





.header {
    text-align: center;
}